{% extends 'cook/base.html' %}
{% block content_block %}

{% load staticfiles %}

	<header class="header-page">
		<div class="logo"><a href=""><img src="{% static "style/name.png" %}"></a></div>
		<div class="inputsite">
			<input type="submit" onclick="javascript:window.location='#win'" value="Войти" class="but_login" id="win_pop"><br><br>
		</div>
		<!--lightbox-->
		<a href="#x" class="overlay" id="win"></a> 
        <div class="popup">
        	<form class="login-form" action="/auth" method="post">
			<h1 class="h_loginform">Войти на сайт</h1>
			<div class="inputname">Логин:</div><div class="in_login"><input type="text" name="login"></div><br>
            <div class="inputname">Пароль:</div><div class="in_login"><input type="password" name="password"></div><br>
            <input type="checkbox" id="check" />
			<label for="check"><span></span>Запомнить меня</label> 
            <input type="submit" value="Войти" class="submit_login"><br><br>
            <a href="" class="a_forminput">Забыли пароль?</a>
            <a href="" class="a_forminput">Регистрация</a><br>	
		</form>
        <a class="close"title="Закрыть" href="#close"></a>
        </div>
        <!--lightbox-->
		<div class="search">
			<input type="text" name="search" placeholder="Поиск по сайту"><br><br>
		</div>
	</header>

	<div class="header-menu">
		<ul class="main-menu">
			<li><a href="" class="a-header"><img src="{% static "style/glav.png" %}"></a></li>
			<li><a href="" class="a-header subrecepts"><img src="{% static "style/recepts.png" %}"></a>
				<ul class="sub-menu">
                    <li><a href="">Первые блюда</a></li>
                    <li><a href="">Вторые блюда</a></li>
                    <li><a href="">Салаты</a></li>
                    <li><a href="">Закуски</a></li>
                    <li><a href="">Выпечка</a></li>
                    <li><a href="">Завтраки</a></li>
                    <li><a href="">Десерты</a></li>
                    <li><a href="">Идеи для пикника</a></li>
                    <li><a href="">Напитки</a></li>
                </ul>
			</li>
			<li><a href="" class="a-header"><img src="{% static "style/stats.png" %}"></a></li>
			<li><a href="" class="a-header"><img src="{% static "style/project.png" %}"></a></li>
		</ul>
	</div>
	<br><br>
	<div class="container">
		<section class="content">
			<p><img src="{% static "style/book.png" %}">обро пожаловать на сайт "Вкус творчества" - сайт о кулинарном искусстве.</p>
			<p>"Вкус творчества" - это собрание рецептов как простых, так и изысканных блюд для повседневной жизни и для праздника, или чтобы просто побаловать любимого человека.</p>
			<p>На данный момент "Вкус творчества" находится в разработке и база рецептов будет переодически пополняться. </p>
			<p>Надеюсь на этом сайте Вы найдете много интересных рецептов и полезных советов.</p>
			<p>Готовьте с любовью, душой и удовольствеим, подходите к готовке творчески и тогда любое блюдо получится настоящим шедевром!</p>
		</section>
		<section class="menu">
			<ul>
				<li>Категории рецептов</li>
				<li class="imgmarker"><a href="{% url 'cook:recipes' %}">Список рецептов</a></li>
				<li class="imgmarker"><a href="{% url 'cook:test' %}">Вторые блюда</a></li>
				<li class="imgmarker"><a href="">Салаты</a></li>
				<li class="imgmarker"><a href="">Закуски</a></li>
				<li class="imgmarker"><a href="">Выпечка</a></li>
				<li class="imgmarker"><a href="">Завтраки</a></li>
				<li class="imgmarker"><a href="">Десерты</a></li>
				<li class="imgmarker"><a href="">Идеи для пикника</a></li>
				<li class="imgmarker"><a href="">Напитки</a></li>
			</ul>
		</section>
		<section class="menu">
			<ul>
				<li>Полезные и интересное</li>
				<li><a href="">Пропорции крупы и жидкости для варки каш</a></li>
				<li><a href="">Почему шоколад поднимает настроение?</a></li>
			</ul><br>
		</section>
		<section class="new_recipe_menu">
			<ul>
				<li>Новые рецепты</li>
				<li><a href="" class="new_recipe_block"><img src="{% static "style/test_1.jpg" %}"><br>Овощное рагу</a></li>
				<li><a href="" class="new_recipe_block"><img src="{% static "style/test_2.jpg" %}"><br>Шарлотка</a></li>
			</ul><br>
		</section>
	</div>
{% endblock %}