{% extends 'cook/layout.html' %}
{% block content_block %}

{% load staticfiles %}

			<p><img src="{% static "style/book.png" %}">обро пожаловать на сайт "Вкус творчества" - сайт о кулинарном искусстве.</p>
			<p>"Вкус творчества" - это собрание рецептов как простых, так и изысканных блюд для повседневной жизни и для праздника, или чтобы просто побаловать любимого человека.</p>
			<p>На данный момент "Вкус творчества" находится в разработке и база рецептов будет переодически пополняться. </p>
			<p>Надеюсь на этом сайте Вы найдете много интересных рецептов и полезных советов.</p>
			<p>Готовьте с любовью, душой и удовольствеим, подходите к готовке творчески и тогда любое блюдо получится настоящим шедевром!</p>

{% endblock %}

