{% extends 'cook/layout.html' %}
{% block content_block %}

{% load staticfiles %}
	
		<h1 class="h_title">Закуски</h1>
		<p>Всего в категории n-рецептов</p>
		<p>Подкатегории (выпадающий список)</p>
		<hr>
		<div class="prew_recipes">
			<img src="{% static "style/test_1.jpg" %}">
			<a href="">Название рецепта</a>
			<h2>Ингридиенты:</h2>
			<p>500 г рыбы, 200 г лука, 150 г моркови, 15 г желатина, 3 лавровых листа, 5 шт. душистого перца, 5 бутончиков гвоздики, соль   для украшения: яйцо, зелень, клюква, 3 лавровых листа, 5 шт. душистого перца, 3 лавровых листа, 5 шт. душистого перца.
			</p>
		</div>
		<hr>

		<div class="prew_recipes">
			<img src="{% static "style/test_1.jpg" %}">
			<a href="">Название рецепта</a>
			<h2>Ингридиенты:</h2>
			<p>500 г рыбы, 200 г лука, 150 г моркови, 15 г желатина, 3 лавровых листа, 5 шт. душистого перца, 5 бутончиков гвоздики, соль   для украшения: яйцо, зелень, клюква, 3 лавровых листа, 5 шт. душистого перца, 3 лавровых листа, 5 шт. душистого перца.
			</p>
		</div>
		<hr>

		<div class="prew_recipes">
			<img src="{% static "style/test_1.jpg" %}">
			<a href="">Название рецепта</a>
			<h2>Ингридиенты:</h2>
			<p>500 г рыбы, 200 г лука, 150 г моркови, 15 г желатина, 3 лавровых листа, 5 шт. душистого перца, 5 бутончиков гвоздики, соль   для украшения: яйцо, зелень, клюква, 3 лавровых листа, 5 шт. душистого перца, 3 лавровых листа, 5 шт. душистого перца.
			</p>
		</div>
		<hr>

		<div class="prew_recipes">
			<img src="{% static "style/test_1.jpg" %}">
			<a href="">Название рецепта</a>
			<h2>Ингридиенты:</h2>
			<p>500 г рыбы, 200 г лука, 150 г моркови, 15 г желатина, 3 лавровых листа, 5 шт. душистого перца, 5 бутончиков гвоздики, соль   для украшения: яйцо, зелень, клюква, 3 лавровых листа, 5 шт. душистого перца, 3 лавровых листа, 5 шт. душистого перца.
			</p>
		</div>
		<hr>

{% endblock %}