html,
body {
	width:100%;
	height:100%; 
	padding: 0; 
	margin: 0;
}

html {
    background: url('fon.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
	font-size: 16px;
	margin:0; 
	padding:0;
}

footer, header, menu, section {
	display: block;
}

p {
	font-style: italic;
	font-size: 20px;
}

a {
	margin-left: 30px;
	text-decoration: none;
	color: #4F4F4F;
}

a:hover {
	color: #B22222;
}

input[type="text"],
input[type="submit"] {
	height: 33px;
	font: 14px;
	border: 1px solid #27408B;
	border-radius: 10px;
    opacity: 0.8;
    margin-bottom: -10px;
}

input[type="text"] {
	padding-left: 15px;
    width: 230px;
}

input[type="submit"] {
	width: 110px;
    margin-left: 15px;
    background: linear-gradient(#CDC0B0, #fff, #CDC0B0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 
    			0 0 40px rgba(0, 0, 0, 0.1) inset;
}

input[type="submit"]:hover {
	background: linear-gradient(#fff, #CDC0B0, #fff);
}

.logo {
	float: left;
	margin: 0 0 0 15%;	
}

.inputsite {
	float: right;
}

.search {
	float: right;
}

.podpiska {
	float: left;
}

.header-page { 
	width: 1024px; 
	height:120px; 
	margin: 0 auto; 
	padding:10px;
	position: relative;
}

.header-menu {
	width: 1024px; 
	height:50px; 
	margin: 0 auto; 
	padding:10px;
	position: relative;

	background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 
    			0 0 40px rgba(0, 0, 0, 0.1) inset;
 }

.header-menu:after, .header-menu:before {
	content: "";
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}

.header-menu:after {
	right: 10px;
    left: auto;
    transform: rotate(3deg);
}

.a-header {
	display: block;
}

.main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu>li {
    display: inline-block;
    margin-left: 2%;
    position:relative;
}

.main-menu>li:hover .sub-menu {
    display:block;
}

.sub-menu {
    position:absolute;
    top: 45px;
    left: 30px;
    z-index: 3;
    width: 180px;
    padding: 0;
    margin: 0;
    list-style:none;
    background-color: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 
    			0 0 40px rgba(0, 0, 0, 0.1) inset;
    display: none;
}

.sub-menu a {
   display: block;
   padding:10px 10px 0px 10px;
}

.sub-menu>li {
	border: solid 1px #CFCFCF;
	border-top: none;
	height: 40px;
}

.wrapper { 
	width: 100%; 
	margin:0px auto; 
	padding:0px 0px 0px 0px; 
	position:relative; 
	min-height: 100%; 
	height: auto!important; 
	height: 100%;
}

.container { 
	width: 1024px; 
	height: 1000px; 
	position:relative; 
	padding: 10px 10px 50px;
	margin: auto;

	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 
    			0 0 40px rgba(0, 0, 0, 0.1) inset;
	background-image: linear-gradient(-102deg, 
		rgba(0,0,0,.1), 
		rgba(0,0,0,.05) 10px, 
		rgba(0,0,0,0) 20px),
	linear-gradient(102deg, 
		rgba(0,0,0,.1), 
		rgba(0,0,0,.05) 10px, 
		rgba(0,0,0,0) 20px);
}

.container:after, .container:before {
	content: '';
	position: absolute;
	top: 25px;
	width: 100px;
	height: 100px;
	z-index: -1;
}

.container:after { 
	right: 20px;
	box-shadow: 10px -10px 10px rgba(0,0,0,.5);
	transform: rotate(-2deg) skew(-20deg);
}

.container:before {
	left: 20px;
	box-shadow: -10px -10px 10px rgba(0,0,0,.5);
	transform: rotate(2deg) skew(20deg);
}

.content {
	width: 700px;
	height: 1000px;
	margin: 10px;
	padding: 20px;
	float: left;
	position: relative;
}

.menu {
	width: 25%;
	height: auto;
	margin: 10px;
	margin-left: 750px;
	background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 
    			0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.menu ul {
	margin: 0;
	padding: 0;
	padding-left: 30px;
	font-family: Tahoma, Verdana, sans-serif;
	width: 80%;
	height: auto;
}

.menu li {
	list-style-image: url("dope.png");
	padding: 10px 0px 10px 0px; 
	border-bottom: 1px dashed #27408B;
}

.menu li:first-child {
	font: 20px italic;
	color: #8B0000;
	text-align: center;
	border-bottom: none;
	list-style: none;
}

.menu li:first-child:hover {
	background: none;
}

.menu li:last-child {
	border-bottom: none;
}

.menu li:last-child:hover {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.clearing { 
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow: hidden;
} 

.footer-page {
	height: auto; 
	width: 1024px; 
	margin:-70px auto 0; 
	padding: 10px; 
	position: relative; 
	overflow: hidden;
	text-align: right;
}
