{% extends 'cook/base.html' %}
{% block layout_block %}

{% load staticfiles %}

<div class="container">

	<h1 class="h_title">Форма добавления рецепта</h1>
		<div class="name_form_add">Название рецепта</div><div class="in_login in_name"><input type="text"></div><br>
		<div class="name_form_add">Краткое описание</div><div class="in_login in_name in_description"><input type="text"></div><br>
		<div class="name_form_add">Ингридиенты</div><div class="in_login in_name in_ingredient"><input type="text"></div><br>
		<div class="name_form_add">Приготовление</div><div class="in_login in_name in_preparative"><input type="text"></div><br>
		<div class="name_form_add">Комментарий</div><div class="in_login in_name in_description"><input type="text"></div><br>
		Изображение<br>
		категория<br>
		метки<br>
</div>

{% endblock %}