{% extends 'cook/base.html' %}
{% load staticfiles %}
{% block layout_block %}
<div class="header-menu">
		<ul class="main-menu">
			<li><a href="{% url 'cook:index' %}" class="a-header">Главная</a></li>
			<li><a href="" class="a-header subrecepts">Рецепты</a></li>
			<li><a href="" class="a-header">Статьи</a></li>
			<li><a href="" class="a-header">О проекте</a></li>
		</ul>
</div>
	<br><br>
	<div class="container">
		<section class="content">
	{% block content_block %}
	{% endblock %}
		</section>
		<section class="menu">
			<ul>
				<li>Категории рецептов</li>
				<li class="imgmarker"><a class="a_hov_red" href="{% url 'cook:recipes' %}">Список рецептов</a></li>
				{% if user.is_authenticated %}
					<li class="imgmarker"><a class="a_hov_red" href="{% url 'cook:add_recipe' %}">Добавить рецепт</a></li>
				{% endif %}
				<li class="imgmarker"><a class="a_hov_red" href="">Вторые блюда</a></li>
				<li class="imgmarker"><a class="a_hov_red" href="">Салаты</a></li>
				<li class="imgmarker"><a class="a_hov_red" href="{% url 'cook:recipes' %}">Закуски</a></li>
				<li class="imgmarker"><a class="a_hov_red" href="">Выпечка</a></li>
				<li class="imgmarker"><a class="a_hov_red" href="">Завтраки</a></li>
				<li class="imgmarker"><a class="a_hov_red" href="">Десерты</a></li>
				<li class="imgmarker"><a class="a_hov_red" href="">Идеи для пикника</a></li>
				<li class="imgmarker"><a class="a_hov_red" href="">Напитки</a></li>
			</ul>
		</section>
		<section class="menu">
			<ul>
				<li>Полезные и интересное</li>
				<li><a class="a_hov_red" href="">Пропорции крупы и жидкости для варки каш</a></li>
				<li><a class="a_hov_red" href="">Почему шоколад поднимает настроение?</a></li>
			</ul><br>
		</section>
		<section class="new_recipe_menu">
			<ul>
				<li>Новые рецепты</li>
				<li><a href="" class="a_hov_red new_recipe_block"><img src="{% static "style/test_1.jpg" %}"><br>Овощное рагу</a></li>
				<li><a href="" class="a_hov_red new_recipe_block"><img src="{% static "style/test_2.jpg" %}"><br>Шарлотка</a></li>
			</ul><br>
		</section>
	</div>
{% endblock %}
