{% extends 'cook/layout.html' %}
{% block content_block %}

{% load staticfiles %}

<h1 class="h_title">{{ recipe.name }}<!-- Рулетики из лаваша с курицей и грибами --></h1>
<p class="img_align"><img src="{% static "style/foto.jpg" %}" class="img_review"></p>
<h2 class="h_review">Ингридиенты:</h2>
<ul class="ul_review">
	<li>Лаваш - 1 шт</li>
	<li>Филе курицы - 300гр</li>
	<li>Грибы(в данном случае шампиньоны) - 300гр</li>
	<li>Сыр тверный - 100гр</li>
	<li>Маонез</li>
	<li>Зелень(петрушка, укроп)</li>
	<li>Соль и специи по вкусу</li>
	<li>Сливочное масло</li>
</ul>

<h2 class="h_review">Приготовление:</h2>
<ol>
<li>Отварить филе курицы в подсоленой воде. Можно добавить приправы по вкусу. Остудить и "порвать" на волокна.</li>
<li>Грибы промыть и обжарить на сливочном масле до готовности. Остудить</li>
<li>Сыр натереть на мелкой или крупной терке по вкусу.</li>
<li>Зелень мелко покрошить.</li>
<li>Расстелить лист лаваша и смазать его майонезом.</li>
<li>На лаваш выложить равномерно мясо курицы, грибы, посыпать сыром и сезенью.</li>
<li>Скатать в рулет. Положить в холодильник на часок, чтобы лаваш пропитался.</li>
<li>Достать лаваш и порезать вдоль на полосочки средней толщины. Разложить на тарелки и подавать на стол. </li>
</ol>

<h2 class="h_review">Примечание:</h2>
<p>
	Вместо майонеза можно использовать плавленный сыр.<br>
	Ингридиенты можно использовать любые - рыбу, яйца, крабовые палочки, кальмары, креветки, консервированные горошек и кукурузу - все зависит от вашего вкуса и фантазии.
</p>

<h2 class="h_review appetite">Приятного аппетита!</h2>
{% endblock %}
